*{
    padding: 0px;
    margin: 0px;
}
.row>div::-webkit-scrollbar {
    display: none;
}
.head{
    position: sticky;
    top: 0px;
    z-index: 1;
}
.overlay{
    width: fit-content;
    background-color: rgb(245, 245, 243);
}
#cl_hdr{
    display: flex;
    position: sticky;
    top: 0px;
    background-color: rgb(245, 245, 243);
    width: fit-content;
}
.slno{
    min-width: 50px !important;
    background-color: grey;
    /* z-index: 5; */
    position: sticky;
    left: 0px;
    top:0px;
}
#cl_hdr>b{
    padding: 10px 0px;
    text-align: center;
    min-width: 100px;
    border: 1px solid #dfe4e9
}
.row{
    display: flex;
}
.row>div{
    padding: 10px 0px;
    overflow-y: scroll;
    overflow-x: scroll;
    min-width: 100px;
    max-width: 100px;
    border: 1px solid #dfe4e9   
}
.row>div:focus{
    background-color: white;
}
.row>b:first-child{
    padding: 10px 0px;
    text-align: center;
    min-width: 50px;
    border: 1px solid #dfe4e9;   
    position: sticky;
    left: 0px;
    /* z-index: 2; */
    background-color: white;
}
.formula{
    display: flex;
    background-color: rgb(245, 245, 243);
    padding-bottom: 10px;
}
#active-cell{
    height: 30px;
    width: 70px;
    margin-left: 10px;
    background-color: white;
    text-align: center;
    padding-top: 5px;
}
#grid{
    background-color: rgb(245, 245, 243);
    width: fit-content;
}
#option>div{
    background-color: rgb(245, 245, 243);;
    display: flex;
    flex-direction: row;
    justify-content:left;
    align-items:center;
}
#option>div>div{
    margin: 0px 17px;
    padding:5px
}
#option>div>span{
    margin: 6px 17px;
    padding:5px;

}
#font-type, #font-size{
    outline: none;
    border: none;
}
#bar>span{
    margin-left: 20px;
    margin-right: 10px;
}
#bar>input{
    width: 80vw;
    height:30px
}
#bar{
    display: flex;
    align-items: center;
}
.menu{
    display: flex;
    height: 30px;
    width:200vw;
    padding-top: 10px;
    background-color: rgb(61, 129, 105);
}
.menu>div{
    margin: 0px 20px;
    color: white;
    
}
.menu>div:nth-child(2){
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    color: rgb(61, 129, 105);
    background-color: rgb(245,245,243);
}
.toggle-active{
    background-color: #dfe4e9;
}
